name: On push workflow

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:

jobs:
  unit_test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
      - uses: actions/setup-node@v6
        with:
          node-version: '>=24.13.0'
          cache: 'pnpm'
      - name: Run unit tests
        run: |
          pnpm install --frozen-lockfile
          pnpm test

  format_check:
    name: Biome check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
      - uses: actions/setup-node@v6
        with:
          node-version: '>=24.13.0'
          cache: 'pnpm'
      - name: Run Biome checks
        run: |
          pnpm install --frozen-lockfile
          pnpm check

  integration_test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
      - uses: actions/setup-node@v6
        with:
          node-version: '>=24.13.0'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps
      - name: Run integration tests
        run: pnpm test:integration
